<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block action %}
{% for list in lists %}
<a class="dropdown-item" href="/{{list.id}}">{{list.name_of_list}}</a>
{% empty %}
<h1>nolist</h1>
{% endfor %}
{% endblock %}
{% block logging %}
{% if user.is_authenticated %}
            <li class="login-button">
              <a class="btn btn-primary" href="/logout" role="button">Logout</a>
            </li>>
{% else %}
            <li class="login-button">
              <a class="btn btn-primary" href="/login" role="button">Login</a>
            </li>>
{% endif %}
{% endblock %}
{% block content %}

{% endblock %}